body {
    background-image: url(https://img.freepik.com/free-vector/gradient-background-vector-spring-colors_53876-117271.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

h1 {
    font-size: 45px;
    font-family: Arial;
    text-align: center;
    justify-self: center;
}

.page {
    line-height: 85px;
    border: 3px solid black;
}

.center {
    margin: auto;
    width: 300px;
    border: 3px solid violet;
    border-radius: 13px;
    padding: 10px;
    text-align: center;
    background-color: pink;
}

p{
    font-size: 30px;
    font-family: Arial;
    color: black;
}