.body html{
    width: 100vw;
    height: 100vh;
}
.container{
    border: 3px solid black;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    text-align: center;
    line-height: 0;
    background-image: url(https://media.istockphoto.com/id/1176474358/vector/orange-abstract-gradient-background.jpg?s=612x612&w=0&k=20&c=br04DlKn9f8VO2NkwaU_4h6TOdX5_8-_KaT51S_gDro=); 
}

.profile-img{
    align-items: center;
    width: 330px;
    height: 348px;
    border: 3px solid green;
    border-radius: 3%;
}

.image-container{
    display: felx;
    line-height: 0;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.math-img{
    align-items: center;
    width: 430px;
    height: auto;
    border: 3px solid green;
    border-radius: 3%;
}

.cpr-img{
    align-items: center;
    width: 430px;
    height: auto;
    border: 3px solid green;
    border-radius: 3%;
}

p{
    font-size: 23px;
    font-family: Arial;
}

h1{
    font-size: 44px;
    font-family: Arial;
}